extends layout

block content
  h1 Craigslist Search
  form(method="get", action="search", id="searchForm")
    span Search
    input(name="query", value="Java", id="query")
    input(type="submit")
  #results
    p#searchMsg
    ul#resultList
  script(id="result-template", type="text/x-handlebars-template").
    {{#each results}}
      <li>
        <h4>
          <a target="_blank" href="{{link}}">{{title}}</a>
        </h4>
        <div>{{summary}}</div>
      </li>
    {{/each}}
